{% extends 'login.html' %}

{% block form %}
<div class="sign-div">
<form method="post">
    <h3>企业用户注册</h3>
    <input class="sign-text" type="text" name="username" placeholder="用户名" required><br>
    <input class="sign-text" type="text" name="business_name" placeholder="企业名称" required><br>
    <input class="sign-text" type="text" name="business_address" placeholder="企业所在地" required><br>
    <input class="sign-text" type="password" name="password" placeholder="密码" required><br>
    <input class="sign-text" type="password" name="password_confirm" placeholder="确认密码" required><br>
    <select name="business_type" required>
        <option value="travel">旅行社</option>
        <option value="attraction">旅游景区</option>
        <option value="food">住宿和餐饮业</option>
        <option value="transport">交通运输业</option>
        <option value="information">软件和信息技术服务业</option>
        <option value="culture">文化和娱乐业</option>
        <option value="others">其他</option>
    </select>
    <input class="sign-btn" type="submit" name="submit" value="注册">
    <a href="{{ url_for('login') }}">返回登录</a>
</form>
</div>
{% endblock %}
