{% extends 'base.html' %}
{% block content %}
<form method="post">
    <p>共计{{ plans|length }}个备选方案</p>
    备选方案 <input type="text" name="plan" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="添加">
</form>
<ul class="movie-list">
    {% for plan in plans %}
    <li>{{ plan.plan_name }}
    <span class="float-right">
        <form class="inline-form" method="post" action="{{ url_for('delete_plan', plan_id=plan.id) }}">
                <input class="btn" type="submit" name="delete" value="删除">
        </form>
        <a class="baidu" href="https://www.baidu.com/s?wd={{ plan.plan_name }}" target="_blank"
           title="Find this on Baidu" onclick="return confirm('即将进入其他网站?')">百度一下</a>
    </span>
    {% endfor %}
</ul>
<span class="float-left">
    <form class="inline-form" method="post" action="{{ url_for('plan_to_standard') }}">
        <input class="btn" type="submit" name="complete" value="提交">
    </form>
    <form class="inline-form" method="post" action="{{ url_for('clear_all_plan') }}">
        <input class="delete" type="submit" name="clear_all" value="删除所有方案" onclick="return confirm('确认清除所有备选方案?')">
    </form>
</span>
{% endblock %}