{% extends 'base.html' %}

{% block content %}
<form method="post">
    <p>共计{{ standards|length }}个评价准测</p>
    评价准则 <input type="text" name="standard" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="添加">
</form>
<ul class="movie-list">
    {% for standard in standards %}
    <li>{{ standard.standard_name }}
    <span class="float-right">
        <form class="inline-form" method="post" action="{{ url_for('delete_standard', standard_id=standard.id) }}">
                <input class="btn" type="submit" name="delete" value="删除">
        </form>
    </span>
    {% endfor %}
</ul>
<span class="float-left">
    <form class="inline-form" method="post" action="{{ url_for('standard_to_matrix') }} ">
        <input class="btn" type="submit" name="complete" value="提交">
    </form>
    <form class="inline-form" method="post" action="{{ url_for('clear_all_standard') }}">
        <input class="delete" type="submit" name="clear_all" value="删除所有准则" onclick="return confirm('确认清除所有评价准则?')">
    </form>
</span>
{% endblock %}

